<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GoPraxis Event</title>
</head>
<body>
    <h1>Sistema en mantenimiento</h1>

    <h3>Disculpe las molestias, pronto estaremos de regreso</h3>
</body>
</html>